html{
    font-size: 50px;
}

#mobileheader{
    flex: 1;
    background: #000;
}

#mobileheader header{
  text-align: center;
}

#mobileheader header span{
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    color: #fff;
    display: inline-block;
    padding: 11px 0;
}

#mobileheader i{
    font-size: 0.5rem;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
    color:#fff;
}

#mobileheader .anticon-bars {
  float: left;
  margin-left: 0.3rem;
}

#mobileheader .anticon-home {
  float: right;
  margin-right: 0.3rem;
}

#mobileheader ul li{
    font-size: 30px;
}

#mobileheader .slick-list img{
    height: 220px;
    width:100%;
}

#mobileDetailsContainer .title,.article-title .title {
    font-size: 0.44rem !important;
    line-height: 1.4em
}

#mobileDetailsContainer .article-src-time {
    font-size: 0.3rem !important;
}

#mobileDetailsContainer .article-content .txt {
    font-size: 0.36rem;
}
#mobileDetailsContainer .ant-row{
    margin-top: 20px;
}

#mobileHome {
  background-image: url(../images/mobile_homepage2.jpg);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 30px;
}

.mobileLogo img {
  width: 240px;
  height: auto;
}

#mobileHome .hometitle {
  font-size: 22px;
  letter-spacing: 2px;
  padding-top: 20px;
  margin-bottom: 30px;
  position: relative;
  top: auto;
  margin-top: 0;
}

#mobileHome .homeLinks {
  width: 120px;
  height: 108px;
  display: inline-block;
  position: relative;
  margin-bottom: 30px;
}

#mobileHome .homeLinks h3 {
  margin-bottom: 15px;
  font-size: 14px;
}

#mobileHome .homeLinks p {
  font-size: 12px;
  margin-bottom: 5px;
}

.ant-modal {
  margin: 0;
  top: 0;
  background-color: #000;
}

.ant-modal-content {
    position: relative;
    background-color:inherit;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    text-align: center;
}

.ant-modal-content .mobileLogo {
  width: 120px;
  height: 120px;
  display: inline;
}

.mobile-nav {
  margin-top: 30px;
}

.mobile-nav li {
  font-size: 30px;
  display: block;
  text-align: center;
}

.mobileTop h1 {
  bottom: 20px;
  text-align: center;
  position: absolute;
  font-size: 16px;
}

.mobile-nav li a {
  display: inline-block;
  font-size: 20px;
  border-bottom: 1px solid #7d7d7d;
  color: #fff;
  letter-spacing: 1px;
}

.mobile-nav li a:hover {
  color: #b61d22;
}

.mobile-nav li a.is-active {
  color: #b61d22;
}

.mobileTop {
  min-height: 240px;
  position: relative;
}

.ant-modal-close-x:before {
  color: #fff;
  font-size: 30px;
}

.ant-modal-header {
  padding: 13px 16px;
  border-radius: 0;
  background: #000;
  color: #fff;
  border-bottom: none;
}

.mobileMain .aboutVideo {
  padding: 20px 0;
}

.mobileMain .aboutSection {
  padding: 20px;
}

.mobileMain .aboutSection h2 {
  font-size: 14px;
}

.mobileMain img {
  max-width: 100%;
}

.mobileMain .topSection {
  padding: 20px 0;
}

.mobileMain .topSection .container {
  max-width: 100%;
}

.mobileMain header {
  background: #000 !important;
}

.mobileMain .topNav {
  margin: 0;
  background-size: contain;
  margin-bottom: 10px;
}

.mobileMain .topNav li {
  height: 40px;
  font-size: 12px;
}

.mobileMain .icon-item {
  margin: 1px;
  padding: 6px 0 0 0;
}

.mobileMain .icon-item h6 {
  font-size: 12px;
}

.mobileMain .icon-item p {
  font-size: 8px;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin-x: 0;
  width: 100%;
  height: auto;
  line-height: 14px;
  display : inline-block"
}

.mobileMain .tableSection {
  padding: 20px 0;
}

.mobileMain .tableSection .container {
  max-width: 100%;
}

.mobileMain .tableSection table th {
  width: 25%;
}

.mobileMain .tableSection table th h4 {
  font-size: 12px;
}

.mobileMain .tableSection table th p {
  font-size: 10px;
}

.mobileMain .tableSection table td p {
  font-size: 10px;
  margin-top: -8px;
}

.mobileMain .tableSection table td img {
  max-width: 60%;
}

.mobileMain .tableSection table td h4 {
  font-size: 12px;
}

#mobile-footer {
  padding: 10px 0;
  font-size: 14px;
}

.MobileSection {
  padding: 20px 10px;
  text-align: center;
}

.MobileSection h2 {
  font-size: 14px;
  margin-bottom: 3px;
}

.MobileSection h4 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #b61d22;
}

.MobileSection p {
  font-size: 12px;
  text-align: left;
}

.MoblieMonitorSection {
  display: inline-block;
  max-width: 340px;
  margin-top: 20px;
  background-size: 340px;
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.MoblieMonitorSection .monitorItem {
  width: 75px;
  line-height: 75px;
  height: 75px;
  font-size: 12px;
  margin: 0 10px;
}

.mobileContactContent {
  padding: 10px 40px;
}

.mobileContactContent h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.mobileContactContent p {
  font-size: 12px;
}

#mobileContact .contactForm {
  padding: 30px 50px;
  text-align: center;
}

#mobileContact .form-control {
  font-size: 14px;
  margin-bottom: 10px;
}

#mobileContact .contactForm button {
  display: inline-block;
  color: #fff;
  background-color: #b61d22;
  font-size: 14px;
  padding: 7px 23px;
  border-radius: 15px;
  border: none;
  letter-spacing: 1px;
}

.mobileContactInfo {
  padding: 30px 60px;
  color: #000;
  text-align: center;
}

.mobileContactInfo h3 {
  margin-bottom: 10px;
}

.mobileContactInfo h3 a {
  display: inline-block;
  font-size: 16px;
  border-bottom: 1px solid #000;
  color: #000;
  text-decoration: none;
}

.mobileContactInfo p {
  font-size: 14px;
}

.mobileContactInfo h4 {
  font-size: 14px;
  margin-top: 10px;
}

.mobileMain .topSection2 {
  padding: 0;
}

.MobileSection {
  font-size: 12px;
}

.MobileSection .listStyle li {
  margin-right: 5px;
  padding-left: 5px;
  background-size: 4px 4px;
  text-align: left;
}

.MobileSection h6 {
  font-size: 14px;
}

.mobileTop .ant-carousel .slick-slide {
  min-height: 240px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mobileTop .ant-carousel .slide-item-1 {
  background-image: url(../images/mobile_about.jpg);
}

.mobileTop .ant-carousel .slide-item-2 {
  background-image: url(../images/mobile_amss1.jpg);
}

.mobileTop .ant-carousel .slide-item-3 {
  background-image: url(../images/mobile_amss2.jpg);
}

.mobileTop .ant-carousel .slide-item-4 {
  background-image: url(../images/mobile_amss3.jpg);
}

.mobileTop .ant-carousel .slide-item-5 {
  background-image: url(../images/mobile_amss4.jpg);
}

.mobileTop .ant-carousel .slide-item-6 {
  background-image: url(../images/mobile_amss5.jpg);
}

.mobileTop .ant-carousel .slide-item-7 {
  background-image: url(../images/mobile_amss6.jpg);
}

#mobileheader .slick-dots {
  font-size: 20px;
}

#mobileheader .ant-carousel .slick-slide h1 {
  bottom: 30px;
}

#mobileheader .fixed-box i {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.mobileContactInfo h3 {
  display: inline-block;
  background: url(../images/hand-click.png) 0 center no-repeat;
  background-size: 25px;
  height: 25px;
  line-height: 25px;
  padding: 0 30px;
  margin-bottom: 10px;
}

.mobileMain .tableSection .ant-col-4 img {
  max-width: 100%;
}

.mobileMain .tableSection .ant-col-4 {
  padding: 8px;
  height: 82px;
}

.mobileMain .tableSection .tableTop h4 {
  font-size: 12px;
}

.mobileMain .tableSection .tableTop {
  height: 79px;
  padding: 5px 0;
}

.mobileMain .tableSection .ant-col-4 p {
  margin-top: -5px;
}
